.idea
npm-debug.log
backup/*.upk
working/*.upk
resources/others/剑灵模型识别器_V1.0.13.1226_by_纯粹之伤/notify.log
resources/dedat/Bns_DatEditor/tmp
resources/dedat/output
resources/umodel/notify.log
resources/umodel/output/**/*.tga
resources/umodel/output/**/*.mat
resources/umodel/output/**/*.psk
resources/umodel/output/**/*.pskx
resources/umodel/output/**/*.psa
resources/umodel/output/**/*.config
resources/umodel/*.upk
resources/umodel/*.bak
logs/*.log
Thumbs.db
database/costume/pics/**/*.zip
database/costume/pics/**/*.png
database/upk/log/**/*.log
resources/tga2png/output/**/*.png
database/icon/tga/**/*.tga
database/icon/png/**/*.png