.idea
Thumbs.db
npm-debug.log
working/*.upk
logs/*.log
resources/others/剑灵模型识别器_V1.0.13.1226_by_纯粹之伤/notify.log
resources/dedat/Bns_DatEditor/tmp
resources/dedat/output
resources/umodel/notify.log
resources/umodel/output/**/*.tga
resources/umodel/output/**/*.mat
resources/umodel/output/**/*.psk
resources/umodel/output/**/*.pskx
resources/umodel/output/**/*.psa
resources/umodel/output/**/*.config
resources/umodel/*.upk
resources/umodel/*.bak
resources/tga2png/output/**/*.png
database/costume/pics/**/*.zip
database/costume/pics/**/*.png
database/icon/tga/**/*.tga
database/icon/png/**/*.png
VS_GUI/BladeSoulTool/bin/Debug
VS_GUI/BladeSoulTool/obj/x86/Debug