body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.list-group-item:first-child {
    background-color: #DDDDDD;
    font-size: 125%;
}

.row {
    margin-top: 10px;
}

.table td {
    vertical-align: middle !important;
}

.table .highlight {
    font-weight: bold;
}