<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span class="pull-left" style="font-size: 18px; line-height: 34px;">选择种族：</span>
                <span class="pull-left" style="line-height: 34px;">
                    <select ng-model="raceSelected" ng-change="changeRace()" style="width: 150px; font-size: 18px;">
                        <option ng-repeat="race in races">{{ race }}</option>
                    </select>
                </span>
                <span class="pull-left" style="margin: 1px 0 0 10px; font-size: 18px; line-height: 34px;">
                    {{ raceDisplay }}
                </span>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top: 10px;">
                <span class="pull-left" style="font-size: 18px; line-height: 34px;">目标模型：</span>
                <span class="pull-left" style="width: 200px; font-size: 18px; line-height: 34px;">{{ selectedModel }}</span>
                <button ng-disabled="selectedModel == null" ng-click="replaceModel()"
                    class="btn btn-primary pull-left">替换</button>
                <button ng-click="restoreModel()" class="btn btn-primary pull-left"
                    style="margin-left: 10px;">恢复</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr style="font-weight: bold;">
                        <td>预览</td>
                        <td>名称</td>
                        <td>短码</td>
                        <td>选中</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="(key, data) in displayData" ng-click="selectTableLine(key)"
                        ng-class="{highlight: selectedModel == key}" style="cursor: pointer;">
                        <td ng-show="data.pic" style="width: 90px;">
                            <img src="database/crawler/pics/body/{{ data.pic }}" />
                        </td>
                        <td ng-show="!data.pic" style="width: 90px;">
                            N/A
                        </td>
                        <td>
                            {{ data.name }}
                        </td>
                        <td style="width: 180px;">
                            {{ key }}
                        </td>
                        <td style="width: 50px;">
                            <span ng-show="selectedModel == key" class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6" ng-show="selectedModel !== null">
    <div class="affix" style="min-width:20%;top:65px;">
        <div>短码：{{ selectedModel }}</div>
        <div style="margin-top: 5px;">
            <img src="database/costume/pics-cps/{{ selectedModel }}.png">
        </div>
        <div style="margin-top: 5px;">
            <button ng-click="replaceModel()"
                class="btn btn-primary pull-left">替换</button>
            <button ng-click="restoreModel()" class="btn btn-primary pull-left"
                style="margin-left: 10px;">恢复</button>
        </div>
    </div>
</div>
